<nb-card>
  <nb-card-header>
    Pagos
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table 
      [settings]="settings" 
      [source]="sourcePayments"
      (edit)="onEdit($event)"
      (create)="onCreate($event, content)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<!-- New Payment Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Agregar Pago</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Form to be send -->
    <form #paymentsForm="ngForm" (ngSubmit)="submitPaymentsForm(paymentsForm.value)">
      
      <div class="form-group">
        <label>Preparador</label>
        <select class="form-control" required>
          <option disabled>Seleccione un preparador...</option>
          <option *ngFor="let assistant of assistants" [ngValue]="assistant.id_document">{{assistant?.initials}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Cliente</label>
        <select class="form-control" required>
          <option disabled>Seleccione un cliente...</option>
          <option *ngFor="let client of clients">{{ client?.id_document }} {{ client?.first_name }} {{ client?.last_name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Método de Pago</label>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-demo" (click)="modal.close('Close click')">Add</button>
  </div>
</ng-template>