<nb-card>
  <nb-card-header>
    Preparadores CRUD
  </nb-card-header>

  <nb-card-body>
    <toaster-container [toasterconfig]="config"></toaster-container>
    <ng2-smart-table [settings]="settings" [source]="source" 
    (delete)="deletePreparadorModal(confirmdeletepreparador, $event)"
    (create)="createPreparadorModal(preparador)" 
    (edit)="editPreparadorModal(preparador, $event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<!-- Preparador modal. Create and edit -->
<ng-template #preparador let-modal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="!edit">Añadir preparador</h4>
    <h4 class="modal-title" *ngIf="edit">Editar preparador</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Form for add and edit preparador -->
  <form #preparadorForm="ngForm" (ngSubmit)="!edit ? createPreparador() : editPreparador()">
    <div class="modal-body">
      <div *ngIf="!edit">
        <div class="form-group">
          <label>Cédula</label>
          <input type="text" class="form-control" id="cedula"
          [(ngModel)]="preparadormodel.cedula" name="cedula" maxlength="10" 
          pattern="^[V|E|J|P]\-[0-9]{5,8}$" #cedula="ngModel" required>
        </div>

        <div *ngIf="cedula.invalid && !edit && (cedula.dirty || cedula.touched)"
      class="alert alert-danger">

          <div *ngIf="cedula.errors.required">
            La cédula es obligatoria
          </div>
          <div *ngIf="cedula.errors.pattern">
            La cédula debe tener el formato: [V|E|J|P]-XXXXXX
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Iniciales</label>
        <input type="text" class="form-control" id="initials"
        [(ngModel)]="preparadormodel.iniciales" name="initials" maxlength="3"
        pattern="[A-Z]+" #initials="ngModel" required>
      </div>

      <div *ngIf="initials.invalid && (initials.dirty || initials.touched)"
      class="alert alert-danger">
        <div *ngIf="initials.errors.required">
          Las iniciacles son obligatorias
        </div>
        <div *ngIf="initials.errors.pattern">
          Las iniciales deben ser en mayúsculas y no pueden tener caracteres especiales
        </div>
      </div>

      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" id="name"
        [(ngModel)]="preparadormodel.nombre" name="name" maxlength="50"
        pattern="[a-zA-Z]+" #name="ngModel" required>
      </div>

      <div *ngIf="name.invalid && (name.dirty || name.touched)"
      class="alert alert-danger">
        <div *ngIf="name.errors.required">
          El nombre es obligatorio
        </div>
        <div *ngIf="name.errors.pattern">
          El nombre no pueden tener caracteres especiales
        </div>
      </div>

      <div class="form-group">
        <label>Apellido</label>
        <input type="text" class="form-control" id="last_name"
        [(ngModel)]="preparadormodel.apellido" name="last_name" maxlength="50"
        pattern="[a-zA-Z]*" #last_name="ngModel" required>
      </div>

      <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
      class="alert alert-danger">
        <div *ngIf="last_name.errors.required">
          El apellido es obligatorio
        </div>
        <div *ngIf="last_name.errors.pattern">
          El apellido no pueden tener caracteres especiales
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" id="email"
        [(ngModel)]="preparadormodel.correo" name="email" #email="ngModel" email>
      </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
        class="alert alert-danger">
            Ingresa un correo válido
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"  type="submit" class="btn btn-success btn-demo" 
          [disabled]="!preparadorForm.form.valid">
            <span *ngIf="!edit">Añadir preparador</span>
            <span *ngIf="edit">Editar preparador</span>
        </button>
      </div>
    </form>
</ng-template>

<!-- Confirm delete preparador modal -->
<ng-template #confirmdeletepreparador let-modal let-d="dismiss">
  <div class="modal-header">
    Eliminar preparador
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Estas seguro que deseas eliminar al  preparador {{preparadormodel.nombre}}?
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="onDeleteConfirm(preparadormodel)">Eliminar</button>
  </div>
</ng-template>
