<nb-card>
  <nb-card-header>
    Smart Table
  </nb-card-header>

  <nb-card-body>
    <toaster-container [toasterconfig]="config"></toaster-container>
    <ng2-smart-table [settings]="settings" [source]="source" 
    (delete)="deleteClientModal(confirmdeleteclient, $event)"
    (create)="createClientModal(client)" 
    (edit)="editClientModal(client, $event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<!-- Client modal. Create and edit -->
<ng-template #client let-modal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="!edit">Add client</h4>
    <h4 class="modal-title" *ngIf="edit">Edit client</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Form for add and edit client -->
  <form #clientForm="ngForm" (ngSubmit)="!edit ? createClient() : editClient()">
    <div class="modal-body">
      <div *ngIf="!edit">
        <div class="form-group">
          <label>Id</label>
          <input type="text" class="form-control" id="cedula"
          [(ngModel)]="clientemodel.cedula" name="cedula" maxlength="10" 
          pattern="^[V|E|J|P]\-[0-9]{5,8}$" #cedula="ngModel" required>
        </div>

        <div *ngIf="cedula.invalid && !edit && (cedula.dirty || cedula.touched)"
      class="alert alert-danger">

          <div *ngIf="cedula.errors.required">
            Id is required.
          </div>
          <div *ngIf="cedula.errors.pattern">
            Id must have the format: [V|E|J|P]-XXXXXX
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="name"
        [(ngModel)]="clientemodel.nombre" name="name" maxlength="50"
        pattern="[a-zA-Z]*" #name="ngModel" required>
      </div>

      <div *ngIf="name.invalid && (name.dirty || name.touched)"
      class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div *ngIf="name.errors.pattern">
          Name cannot have numbers or specials characters
        </div>
      </div>

      <div class="form-group">
        <label>Last name</label>
        <input type="text" class="form-control" id="last_name"
        [(ngModel)]="clientemodel.apellido" name="last_name" maxlength="50"
        pattern="[a-zA-Z]*" #last_name="ngModel" required>
      </div>

      <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
      class="alert alert-danger">
        <div *ngIf="last_name.errors.required">
          Last name is required.
        </div>
        <div *ngIf="last_name.errors.pattern">
          Last name cannot have numbers or specials characters
        </div>
      </div>

      <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" id="phone"
        [(ngModel)]="clientemodel.telefono" name="phone" maxlength="15"
        pattern="^[(]?\d{3}[)]?\s?-?\s?\d{3}\s?-?\s?\d{4}$" #phone="ngModel" required>
      </div>
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
        class="alert alert-danger">
          <div *ngIf="phone.errors.required">
            Phone is required.
          </div>
          <div *ngIf="phone.errors.pattern">
            Phone format must be xxx-xxxxxxx, xxx-xxx-xxxx or xxxxxxxxxx
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"  type="submit" class="btn btn-success btn-demo" 
          [disabled]="!clientForm.form.valid">
            <span *ngIf="!edit">Add client</span>
            <span *ngIf="edit">Edit client</span>
        </button>
      </div>
    </form>
</ng-template>

<!-- Confirm delete client modal -->
<ng-template #confirmdeleteclient let-modal let-d="dismiss">
  <div class="modal-header">
    Delete client
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete {{clientemodel.nombre}} client?
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="onDeleteConfirm(clientemodel)">delete</button>
  </div>
</ng-template>
